{% extends "basic.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Choose your file</h1>
     <form class="md-form">
  <div class="file-field">
    <div class="btn btn-primary btn-sm float-left">
      <span>Choose file</span>
      <input type="file">

    

    </div>
 &nbsp
        &nbsp
          &nbsp&nbsp
        &nbsp
          &nbsp
      <button type="button" class="btn btn-primary" action="/success" method="POST" >submit</button>
   
  </div>
     
</form>
  </div>
     <button type="button" style="background-color:Blue;margin-left:auto;margin-right:auto; display:block "class="btn btn-primary">Download</button>
</div>

{% endblock %}